
.grad {
    background-image: linear-gradient(to bottom right, red, yellow);
  }

  .welcome {
    border-radius: 0px 0px 5px 0px;
}


.is-info {
  margin-top: 20px;
}

.name {
  font-weight: bold;
  font-family: fantasy;
}

.cost {
  font-weight: bold;
}

.price {
  margin-top: 5%;
  font-size: 36px;
  background-color: #4a4a4a;
  text-align: left;
}
.converted {
  margin-top: 5%;
  font-size: 36px;
  background-color: #4a4a4a;
  text-align: left;
}

.infoblockstyle {
  background-color: #4a4a4a;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
}

.powerToughness {
  text-align: right;
} 

.pull-down {

  border-radius: 25%;
}