
.grad {
    background-image: linear-gradient(to bottom right, red, yellow);
  }

  .is-info {
      margin-top: 20px;
  }

  .name {
      font-weight: bold;
      font-family: fantasy;
  }

  .cost {
      font-weight: bold;
  }

  .price {
     text-size-adjust: 8%;
      margin-top: 5%;
     
  }
  .converted {
      margin-top: 5%;
  }